
.imperio {
    background-color: red;
  }
  
.rebeldes {
    background-color: blue;
  }
  
#darth-vader {
    font-size: 3.5em;
  }

#luke-skywalker {
    font-style: italic;
  }

.soldado {
    border: 6px dashed black;
    letter-spacing: 20px;
  }
  
.apoyo {
    text-align: center;
  }

.nave {
    text-transform: uppercase;
  }